/***** GENERAL PORTFOLIO STYLING *****/
    /* AFFECTS ENTIRE DOCUMENT */
    html {
        scroll-behavior: smooth; /*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked */
        }
    
        /* BODY */
        body {
            margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
            opacity: 1; /* This and transition affect the page loading fade in effect */
            transition: 3s opacity; /* This causes a 3 second fade in */
            background-image: url("alyssa-rei.githhub.io/media/images/pexels-gradienta-7130470.jpg");
            letter-spacing: .2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
            font-size: 1.5vw; 
            overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
            user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
        }
    
        /* This section contributes to the fade effect for the page that occurs when the page is loaded */
        body.fade-out {
            opacity: .1; /* This sets the level of opacity at the start of page load */
        }
    
        /***** NAVIGATION BAR STYLING *****/
        .Navbar {
            overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
            position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
            top: 0; /* This ensures no space is displayed above the navbar */
            width: 100%; /* This makes the navbar span the entire width of the page */
            z-index: 1; /* This ensures other elements don't display over the navbar */
            -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
            animation: moveNav 5s; /* This makes the moveNav animation last 5 seconds */
        }
    
            @keyframes moveNav {
                from {left: -100vw;}
                to {left: 0vw;}
            }
    
        /* NAVIGATION BAR - LINKS STYLE */
        .Navbar a {
            float: left; /* This specifies that the text floats on the left on the navbar */
            display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
            color: white; /* This is the font color for text on our navbar */
            padding: .75vw 1vw; /* This adds padding around our text */
            text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
            font-family: 'Press Start 2P', cursive; /* This specifies the font family for text on our navbar */
            font-size: 1.5vw; /* This specifies the font size for text on our navbar */
            text-align: center; /* This centers the text within its container */
            position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
            -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
            animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */ 
        }
    
            @keyframes moveNavText {
                from {top: -100vw;}
                to {top: 0vw;}
            }
    
            @media screen and (max-width: 576px) {
                .Navbar a{
                    width: 25%;
                    font-size: 12px;
                }
            }
    
        /* NAVIGATION BAR LINKS STYLE - HOVER EFFECT */
        .Navbar a:hover {
            background-color: darkturquoise;
            color: darkviolet;
            cursor: pointer;
            transition: 0.5s ease-in; /* Creates a smooth transition for the hover trigger */
        }
    
        /* NAVIGATION BAR - HOME BUTTON STYLE */
        .Navbar a.active {
            background-color: darkviolet;
        }
    
        /* NAVIGATION BAR - HOME BUTTON STYLE */
        .Navbar a.active:hover {
            background-color: darkviolet;
            color: darkturquoise;
        }
        /***** END OF NAVBAR STYLING *****/




        /* HEADING 1 - ELEMENT STYLE */
        h1 {
            font-family: 'Press Start 2P', cursive;
            font-style: italic;
            text-align: center;
            margin-top: 3%;
            color: yellow;
            text-shadow: 2px 2px 4px darkviolet;
        }
    
        /* HEADING 1 - ELEMENT STYLE - HOVER EFFECT */
        h1:hover {
            text-shadow: 2px 2px 4px darkviolet;
            transform: scale(1.1);
            transition: transform 1s;
        }
    
        /* TITLE & WELCOME TEXT */
        .white-text {
            color:ghostwhite;
            letter-spacing: 3px;
            font-style: italic;
            text-shadow: 1px 1px 3px yellow; 
            padding-top: 10vh; /* Adds padding (equal to 10% of the viewport height) to the top of the Portfolio Title text */
        }
    
        /* PARAGRAPH ELEMENT STYLE */
        p {
            color: white;
            font-family: 'Press Start 2P', cursive;
            text-align: justify;
            letter-spacing: .1vw; /* This expands the text slightly */
            font-size: 2.5vw; /* Relative font sizing equal to 2.5% of the viewport width */
            padding-left: 1vw; /* Relative padding equal to 1% of the viewport width */
            padding-right: 1vw; /* Relative padding equal to 1% of the viewport width */
        }
    
        /* PARAGRAPH ELEMENT STYLE - HOVER EFFECT */
        p:hover {
            transition: transform 1s;
            transform: scale(1.01);
            text-shadow: 1px 1px 3px darkturquoise;
        }
    
        /* CENTER CLASS STYLE */
        .center {
            text-align: center;
        }
    
        /* CENTER CLASS STYLE - HOVER EFFECT */
        .center:hover {
            transition: transform 2s;
            transform: scale(1.1);
        }
    
        /* ANCHOR / LINK ELEMENT STYLE */
        a {
            color: hotpink;
            cursor: pointer; /* This ensures all links change the mouse to a pointer when hovered over or clicked */
            text-decoration: underline; /* This ensures all links are underlined */
        }
    
        /* QUOTATION ELEMENT STYLE */
        q {
            font-style: italic;
        }
    
        /* IMAGE ELEMENT STYLE */
        img {
            filter: none; 
            border-radius: 10px;
            max-width: 100%;
            height: 340px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        /* IMAGE ELEMENT STYLE - HOVER EFFECT */
        img:hover {
            filter: grayscale(5%);
        }
    
            @media screen and (max-width: 576px) {
                img {
                    height: 100px;
                    margin-top: 150px;
                }
            }
    
        /* FOOTER ELEMENT STYLE */
        footer {
            padding: 2%;
            background-color: white;
            color: darkturquoise;
        }
    /***** END GENERAL PORTFOLIO STYLING *****/
    
    
    
    
    
    
    
    

    
    
    
    
    /***** TABLE STYLING *****/
        * { /* Asterisk = Universal selector that applies effects to all elements on page */
            box-sizing: border-box;
        } 
    
        .Column_1 {
            float: left;
            width: 50%;
            padding: 1.6%;
            height: 450px;
            background-color: rgb(19,62,124);
        }
    
            @media screen and (max-width: 576px) {
                .Column_1 {
                    overflow: auto;
                }
            }
    
        .Column_2 {
            float: left;
            width: 50%;
            padding: 10px;
            padding-top: 1.6%;
            height: 450px;
            background-color: rgb(9,24,51);
        }
    
        /* COLUMNS CLASS - FINAL ROW + INHERITED ATTRIBUTES FROM COLUMN_1 AND COLUMN_2 */
        .Column_tall {
            padding: 1.6%;
            height: 450px;
        }
    
        /* ROW CLASS ELEMENT - INSERTION AFTER */
        .Row:after {
            content: " ";
            display: table;
            clear: both;
        }
    /***** END OF TABLE STYLING *****/
    
    
    
    
    

    
    /***** Media Query Section *****/
    /*Media rules for paragraph font size for different screen sizes*/
    @media screen and (max-width: 527px) {
        p {
            font-size: 3.75vw;
        }
    }
    
    @media screen and (min-width: 528px) and (max-width: 660px) {
        p {
            font-size: 3.5vw;
        }
    }
    
    @media screen and (min-width: 661px) and (max-width: 799px) {
        p {
            font-size: 2.75vw;
        }
    }
    
    @media screen and (min-width: 800px) and (max-width: 924px) {
        p {
            font-size: 2.5vw;
        }
    }
    
    @media screen and (min-width: 925px) and (max-width: 1050px) {
        p {
            font-size: 2.25vw;
        }
    }
    
    @media screen and (min-width: 1051px) and (max-width: 1310px) {
        p {
            font-size: 2vw;
        } 
    }
    
    @media screen and (min-width: 1311px) and (max-width: 1535px) {
        p {
            font-size: 1.75vw;
        }
    }
    
    @media screen and (min-width: 1536px) and (max-width: 2269px) {
        p {
            font-size: 1.5vw;
        }
    }
    
    @media screen and (min-width: 2270px) {
        p {
            font-size: 1.35vw;
        }
    }
    
    /*Media rule for navbar links for different screen sizes*/
    /* Screens 1080px and smaller will display navbar links equally distributed */
    @media screen and (max-width: 1080px) {
        .Navbar a{
            width: 20%; /* This sets each navbar link to 1/5 of the navbar */
            font-size: 2.5vw;
        }
    }
    
    /* Media rules to enlarge the font of the white text for smaller screens */
    @media screen and (max-width: 1080px) {
        .quote{
            font-size: 3.5vw;
        }
    
        .white-text {
            font-size: 4.5vw;
        }
    }
    
    /* Media rules to increase the size of the columns for larger screens */
    @media screen and (min-width: 1725px) {
        .Column_1 {
            height: 550px;
        }
        .Column_2 {
            height: 550px;
        }
    }
    
    
    /*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
    @media screen and (min-width: 2000px) {
        h1{
            margin-top: 0;
        }
    }
    /***** End of Media Query Section *****/
    