/* Body - Start */
    body {
        margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
        font-family: Avant Garde, Helvetica;
        font-size: 1.5vw; 
        overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
        user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
    }

    /* Paragraphs Style */
    p {
        color: white;
        font-family: Helvetica, Arial, sans-serif Bold;
        text-align: justify;
        letter-spacing: .1vw; /* This expands the text slightly */
        font-size: 2.5vw; /* Relative font sizing equal to 2.5% of the viewport width */
        padding-left: 1vw; /* Relative padding equal to 1% of the viewport width */
        padding-right: 1vw; /* Relative padding equal to 1% of the viewport width */
    }
/* Body - End */



/* Navigation Bar - Start */
    .Navbar {
        overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
        background-color: #F4EBD0; /* This colors the navbar CREAM */
        position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
        top: 0; /* This ensures no space is displayed above the navbar */
        width: 100%; /* This makes the navbar span the entire width of the page */
        z-index: 1; /* This ensures other elements don't display over the navbar */
        -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
        animation: moveNav 2s; /* This makes the moveNav animation last 2 seconds */
    }

        @keyframes moveNav {
            from {left: -100vw;}
            to {left: 0vw;}
        }

    /* Links Style */
    .Navbar a {
        float: left; /* This specifies that the text floats on the left on the navbar */
        display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
        color: #000C66; /* This is the font color for text on our navbar */
        padding: .75vw .75vw; /* This adds padding around our text */
        text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
        font-family: Helvetica; /* This specifies the font family for text on our navbar */
        font-size: 1vw; /* This specifies the font size for text on our navbar */
        text-align: center; /* This centers the text within its container */
        position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
        -webkit-animation: moveNavText 3s; /* Animation for Safari 4.0 - 8.0 */
        animation: moveNavText 3s; /* Applies the moveNavText animation for 5.75s */ 
    }

        @keyframes moveNavText {
            from {top: -100vw;}
            to {top: 0vw;}
        }

        @media screen and (max-width: 576px) {
            .Navbar a{
                width: 25%;
                font-size: 12px;
            }
        }

    /* Links Style - Hover Effect */
    .Navbar a:hover {
        background-color: #F4EBD0;
        color: #050A30;
        cursor: pointer;
        transition: 0.5s ease-in; /* Creates a smooth transition for the hover trigger */
    }
/* Navigation Bar - End */