/***** GENERAL PORTFOLIO STYLING *****/
    /* AFFECTS ENTIRE DOCUMENT */
    html {
    scroll-behavior: smooth; /*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked */
    }

    /* BODY */
    body {
        margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
        opacity: 1; /* This and transition affect the page loading fade in effect */
        transition: 2s opacity; /* This causes a 3 second fade in */
        letter-spacing: .2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
        font-size: 1.5vw; 
        overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
        user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
    }

    /* This section contributes to the fade effect for the page that occurs when the page is loaded */
    body.fade-out {
        opacity: .1; /* This sets the level of opacity at the start of page load */
    }

    /* HEADING 1 - ELEMENT STYLE */
    h1 {
        font-family: Helvetica;
        font-weight: 200;
        text-align: center;
        margin-top: 3%;
        color: midnightblue;
    }

    /* HEADING 1 - ELEMENT STYLE - HOVER EFFECT */
    /* h1:hover {
        text-shadow: 2px 2px 4px darkviolet;
        transform: scale(1.1);
        transition: transform 1s;
    }
    */

    /* TITLE & WELCOME TEXT */
    .white-text {
        text-align: center;
        color:white;
        letter-spacing: 1px;
        padding-top: 1vh; /* Adds padding (equal to 10% of the viewport height) to the top of the Portfolio Title text */
    }

    /* PARAGRAPH ELEMENT STYLE */
    p {
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        text-align: justify;
        letter-spacing: .1vw; /* This expands the text slightly */
        font-size: 2vw; /* Relative font sizing equal to 2.5% of the viewport width */
        padding-left: 1vw; /* Relative padding equal to 1% of the viewport width */
        padding-right: 1vw; /* Relative padding equal to 1% of the viewport width */
    }

    /* PARAGRAPH ELEMENT STYLE - HOVER EFFECT */
    /* p:hover {
        transition: transform 1s;
        transform: scale(1.01);
        text-shadow: 1px 1px 3px darkturquoise;
    }
    */

    /* CENTER CLASS STYLE */
    .center {
        text-align: right;
        font-size: 1vw;
        font-family: Helvetica;
    }

    .center-welcome-1 {
        text-align: right;
        line-height: 90%;
        font-family: Helvetica;
        font-size: 45px;
        font-weight: bold;
    }

    .center-welcome-2 {
        text-align: right;
        line-height: 95%;
        font-family: Helvetica;
        font-size: 28px;
    }

    .center-welcome-3 {
        text-align: right;
        line-height: 150%;
        font-family: Helvetica;
        font-style: italic;
        font-size: 10px;
    }

    .inline-block {
        display: inline-block;
    }

    /* CENTER CLASS STYLE - HOVER EFFECT */
    /*.center:hover {
        transition: transform 2s;
        transform: scale(1.1);
    }
    */

    /* ANCHOR / LINK ELEMENT STYLE */
    a {
        color: hotpink;
        cursor: pointer; /* This ensures all links change the mouse to a pointer when hovered over or clicked */
        text-decoration: underline; /* This ensures all links are underlined */
    }

    /* QUOTATION ELEMENT STYLE */
    q {
        font-style: italic;
    }

    /* IMAGE ELEMENT STYLE */
    img {
        filter: none; 
        border-radius: 10px;
        max-width: 100%;
        height: 340px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* IMAGE ELEMENT STYLE - HOVER EFFECT */
    img:hover {
        filter: grayscale(5%);
    }

        @media screen and (max-width: 576px) {
            img {
                height: 100px;
                margin-top: 150px;
            }
        }

    /* FOOTER ELEMENT STYLE */
    footer {
        padding: .5vw;
        background:rgba(0, 0, 0, 0);
        color: #445ef2;
    }
/***** END GENERAL PORTFOLIO STYLING *****/





/***** NAVIGATION BAR STYLING *****/
    .Navbar {
        overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
        background-color: white; /* This colors the navbar white */
        position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
        top: 0; /* This ensures no space is displayed above the navbar */
        width: 100%; /* This makes the navbar span the entire width of the page */
        z-index: 1; /* This ensures other elements don't display over the navbar */
        -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
        animation: moveNav 2s; /* This makes the moveNav animation last 2 seconds */
    }

        @keyframes moveNav {
            from {left: -100vw;}
            to {left: 0vw;}
        }

    /* NAVIGATION BAR - LINKS STYLE */
    .Navbar a {
        float: left; /* This specifies that the text floats on the left on the navbar */
        display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
        color: #445ef2; /* This is the font color for text on our navbar */
        padding: .75vw .75vw; /* This adds padding around our text */
        text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
        font-family: Helvetica; /* This specifies the font family for text on our navbar */
        font-size: 1vw; /* This specifies the font size for text on our navbar */
        text-align: center; /* This centers the text within its container */
        position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
        -webkit-animation: moveNavText 3s; /* Animation for Safari 4.0 - 8.0 */
        animation: moveNavText 3s; /* Applies the moveNavText animation for 5.75s */ 
    }

        @keyframes moveNavText {
            from {top: -100vw;}
            to {top: 0vw;}
        }

        @media screen and (max-width: 576px) {
            .Navbar a{
                width: 25%;
                font-size: 12px;
            }
        }

    /* NAVIGATION BAR LINKS STYLE - HOVER EFFECT */
    .Navbar a:hover {
        background-color: #dce2f2;
        color: #445ef2;
        cursor: pointer;
        transition: 0.5s ease-in; /* Creates a smooth transition for the hover trigger */
    }

    /* NAVIGATION BAR - HOME BUTTON STYLE */
    .Navbar a.active {
        background-color: #dce2f2;
    }

    /* NAVIGATION BAR - HOME BUTTON STYLE */
    .Navbar a.active:hover {
        background-color: #dce2f2;
        color: #445ef2;
    }
/***** END OF NAVBAR STYLING *****/





/***** VIDEO STYLING *****/
    /* BACKGROUND VIDEO - FORMATTING */
    #Background_Video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        z-index: -1;
    }

        @media screen and (max-width: 576px) {
            #Background_Video {
                display: none;
            }
        }

    /* BACKGROUND VIDEO - TEXT OVERLAY */
    .Video_Text {
        background: rgba(0, 0, 0, 0);
        color: white;
        width: 100%;
        height: 50vh;
        padding-top: 3vh;
        position: relative;
        -webkit-animation: moveVideoText 4.75s;
        animation: moveVideoText 4.75s;
    }

        
        @keyframes moveVideoText {
            from {top: -100vw;}
            to {top: 0vw;}
        }
/***** END OF VIDEO STYLING *****/





/***** SLIDESHOW STYLING *****/
#Slideshow_Background {
    background: rgba(0, 0, 0, 0); /* This creates a slightly transparent white background that's placed over the video in the background */    
}

.mySlides{
    display: none; /* This prevents the images from being displayed, using JS to display */
}

    /* Slideshow Container */
    #Slideshow_Container {
        width: 25vw; /* Relative sizing of the container for the slidewshow set to 39.5% of the viewport width */
        height: auto; /* The height of the container is automatically adjusted based on the content it is displaying */
        padding-top: 1%; /* Adds a small padding to the top of the slideshow container */
        position: relative; /* This sets the container relative to its normal positioning */
        margin:auto; /* This will horizontally center the container on the page */
    }

    /* Remove the underline from the previous and next buttons on the slideshow */
    #Slideshow_Container a {
        text-decoration: none;
    }

    /* Images contained within the slideshow */
    .Slideshow_Images {
        vertical-align: middle; /* This centers the images vertically within the slideshow container */
        height: auto; /* The height of the images is automatically adjusted based on the content, ie if your images are different sizes, they will display as different sizes */
        box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75); /* Adds a shadow around the slideshow images */
        width: 100%; /* The width of the images is automatically adjusted based on the content */
    }

    /* Next and previous buttons */
    .Previous, .Next {
        cursor: pointer; /* Changes the mouse to a pointer when the buttons are selected */
        position: absolute; /* This makes the next and previous buttons positioned relative to the slideshow container */
        top: 50%; /* This moves the buttons up in the slideshow container */
        width: auto; /* The width of the buttons is automatically adjusted based on the content */
        padding: .5vw; /* Adds padding equal to 2% of the viewport width */
        color: darkgray; 
        font-weight: bold;
        font-size: 1.5vw;
        border-radius: 0 3px 3px 0; /* Adds a slightly rounded border on the top and bottom right corners */
        user-select: none; /* This property makes it so that the user cannot highlight the text */
        transition: 0.6s ease; /* This specifies the details of the hover transition for these elements */
    }

    /* Positioning the next button on the right hand side */
    .Next {
        right: 0; /* This moves the next button to the right side of the slideshow container */
        border-radius: 3px 0 0 3px; /* This changes the border radius on the next button to the top and bottom left of the button */
    }

    /* Hover effect on slide show buttons */
    .Previous:hover, .Next:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Makes the background of the arrows a transparent gray color */
        color: white; /* Makes the arrows white when hovered over */
    }

    /* Slideshow text */
    .text {
        color: white; 
        padding: 1vw;
        position: absolute; /* This ensures the text is positioned within the image */
        bottom: 0; /* This property sets the text at the bottom of the image */
        width: 100%; /* The element covers the full width of the image */
        text-align: center; /* The text is center aligned within the image */
        font-family: Helvetica;
        letter-spacing: .1vw; /* This gives slight spacing between the letters */
        font-size: 1vw; /* Font size is relative to the size of the viewport width */
        background-color: rgba(0, 0, 0, 0.75); /* Gives a slightly transparent black background */
        font-weight: ;
        border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
    }

    /* Styling of the dots under the slideshow */
    .dot {
        cursor: pointer; /* The cursor changes to pointer when hovered over the dots */
        height: .5vw; /* The dots are sized relative to the viewport width */
        width: .5vw;
        margin: .25vw; /* adds additional spacing between the dots */ 
        background-color: white; /* Makes the dots darkturquoise */
        border-radius: 50%; /* Makes the dots circles by rounding each corner */
        display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
        transition: background-color 0.6s ease; /* The dots transition to a different color when clicked or hovered over */
        z-index: 1; /* This ensures the dots will be displayed above any other elements */
    }

    /* Hover effect for slideshow dots */
    .active, .dot:hover {
        background-color: grey; /* Sets the color of the dot when active or hovered over */
    }

    /* Fading animation for slideshow */
    .fade {
        animation-name: fade; /* Fade animation is defined below */
        animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
        -webkit-animation-name: fade; /* Same as above for Safari 4.0-8.0 */
        -webkit-animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4;} /* Image starts transparent */
        to {opacity: 1;} /* Image ends opaque */
    }

    @keyframes fade {
        from {opacity: .4;} /* Image starts transparent */
        to {opacity: 1;} /* Image ends opaque */
    }
/***** END SLIDESHOW STYLING *****/





/***** TABLE STYLING *****/
    * { /* Asterisk = Universal selector that applies effects to all elements on page */
        box-sizing: border-box;
    } 

    .Column_1 {
        float: left;
        width: 50%;
        padding: 1.6%;
        height: 450px;
        background: rgba(0, 0, 0, 0.0);
    }

        @media screen and (max-width: 576px) {
            .Column_1 {
                overflow: auto;
            }
        }

    .Column_2 {
        float: left;
        width: 50%;
        padding: 10px;
        padding-top: 1.6%;
        height: 450px;
        background: rgba(0, 0, 0, 0.0);
    }

    /* COLUMNS CLASS - FINAL ROW + INHERITED ATTRIBUTES FROM COLUMN_1 AND COLUMN_2 */
    .Column_tall {
        padding: 1.6%;
        height: 450px;
    }

    /* ROW CLASS ELEMENT - INSERTION AFTER */
    .Row {
        background: rgba(0, 0, 0, 0);
    }

    /* ROW CLASS ELEMENT - INSERTION AFTER */
    .Row:after {
        content: " ";
        display: table;
        clear: both;
    }
/***** END OF TABLE STYLING *****/



/***** TEXT ANIMATION *****/

h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }

/***** END TEXT ANIMATION *****/





/***** CONTACT FORM STYLING *****/
/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    position: fixed; /* The element is positioned relative to the viewport and stays in the same location no matter what */
    bottom: 1.75vw; /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw; /* Positions the viewport slightly right from the side of the viewport */
    width: 25vw; /* Sets the width relative to the viewport width */
    background-color: #7e6bef; /* Sets the background color of the button to hotpink */
    color: black; /* Sets the color of the button text to black */
    border: solid black; /* This makes a solid black border around the button */
    cursor: pointer; /* This changes the cursor when hovered over the button to a pointer */
    -webkit-animation: movePopup 5s; /* Animation for 5 seconds for Safari 4.0-8.0 */
    animation: movePopup 5s; /* Animation set for 5 seconds */
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
    display: none; /* Set the display to none, we will use JavaScript to show the contact form */
    position: fixed; /* The form stays in the same location no matter what */
    bottom: .5vw; /* Slightly up from the bottom of the viewport */
    right: .5vw; /* Slightly in from the right side of the viewport */
}

/* Form styling */
.form-container {
    max-width: 30vw; /* Relative sizing of the form container - 49% of the viewport width */
    padding: 1vw; /* Adds padding between the form-popup and the form-container */
    font-size: 1vw;
    color: #445ef2;
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    font-family: Helvetica;
    width: 100%; /* The input boxes completely fill the width of the form-container */
    padding: .5vw; /* Adds padding to the input boxes */
    margin: .5vw 0 .5vw 0; /* Adds space between the input boxes and the labels */
    border: 1px solid black; /* Adds border around the input boxes */
    background: Gainsboro; /* Sets the background color of the input boxes */
    font-size: 1vw; /* Relative font sizing based on the width of the viewport */
}

/* General styling for all buttons */
button {
    font-family: Helvetica;
    letter-spacing: .25vw; /* Adds slight spacing between the letters */
    font-size: 1vw; /* Relative sizing of text */
    font-weight: ; 
    padding: 1vw; /* Adds padding to the text in the button */
    cursor: pointer; /* Changes the cursor to pointer over button elements */
    width: 100%; /* Sets the width of the buttons to 100% of their containers */
    height: auto; /* Allows the height to be resized depending on the content showing */
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: black; /* This makes the text in the buttons white when hovered over */
    background-color: #b878ed; /* The background of the button changes to yellow when hovered over */
    transition-duration: 1s; /* This makes the transition last 1 second */
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: black; /* The border turns black when the button is hovered over */
}

/* Submit button */
.form-container .btn {
    background-color: #7e6bef; /* This makes the background color of the button hotpink */
    color: black; /* This makes the text color black */
    border-color: black; /* This makes the border color black */
    margin-bottom: 1vh; /* Adds space between the submit button and the close button */
}

/* Close button */
.form-container .cancel {
    background-color: #7e6bef; /* This makes the background color of the button hotpink */
    color: black; /* This makes the text color of the black */
    border-color: black; /* This makes the border color black */
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: black;
    background-color: #b878ed;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** End of Contact Form Styling *****/

/***** Media Query Section *****/
/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}


/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/
/***** END OF CONTACT FORM STYLING *****/
